{% extends 'home/base.html' %}
{% block title %} LOG IN {% endblock%}
{% load crispy_forms_tags %}
{% block body %}
    <body>
        <div class="content-section">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom">
                        Log In
                    </legend>
                    <div class="col-xs-4 col-sm-4">
                        {{ form|crispy }}
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">LOG IN</button>
                </div>
            </form>
        </div>
    </body>
{% endblock %}
